<div class="list-group">
  <% ratings.each do |rating| %>
    <% media = get_media(rating.media_id) %>
    <div class="list-group-item list-group-item-action flex-column align-items-start mb-2">
      <div class="d-flex align-items-stretch justify-content-between">
        <% year = year_from_date(media['release_date']) %>
        <a href="<%= media_path rating.media_id %>" class="vertical-align">
          <h6 class="m-0"><%= media['title'] %><% if year %> <small class="text-muted">(<%= year %>)</small><% end %></h6>
        </a>
        <% if logged_in? %>
          <div class="d-flex justify-content-end">
            <%= render 'shared/form_rating_html', media_id: rating.media_id, rating: rating %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>