<% provide(:title, 'My List') %>

<% @status_ratings.each do |index, ratings| %>
  <% if ratings %>
    <h3><%= @statuses.detect{|s| s.id == index}.label %></h3>
    <%= render 'media_rating_list', ratings: ratings%>
  <% end %>
<% end %>