<% provide(:title, "Fairscore") %>

<h1>Welcome to Fairscore</h1>
<p>Too long has media been unfairly rated due to the fickle whims of the average consumer. This web app stores user TV
  show ratings and ranks based on the difference from the users mean rating.</p>

<%= link_to 'Log in', login_path %>
<%= link_to 'Register', register_path %>
