@import './bootstrap_custom';

/* Forms */
.error {
  color: red;
}

/* Navbar padding */
body {
  padding-top: 80px;
}

.movie-card {
  width: 12rem;
}

.btn-full {
  width: 100%;
}

.movie-poster {
  height: 18rem;
  object-fit: cover;
}

.vertical-align {
  display: flex;
  align-items: center;
}
