@import './bootstrap_custom';

/* Forms */
.error {
  color: red;
}

/* Navbar padding */
body {
  padding-top: 80px;
}

.movie-card {
  width: 12rem;
}

.btn-full {
  width: 100%;
}

.movie-poster {
  height: 18rem;
  object-fit: cover;
  background: lightgrey;
}

.no-image {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.genre-show-box {
  font-size: 20px;
}

.vertical-align {
  display: flex;
  align-items: center;
}
