<div class="row mb-3">
  <% @results['results'].each do |result| %>
    <% media_id = result['id'] %>
    <% if media_id.present? %>
      <div class="movie-card card m-2">
        <% if result['poster_path'].present? %>
          <%= link_to image_tag(DiscoverHelper::IMG_BASE_URL + result['poster_path'], class: 'movie-poster'), media_path(media_id) %>
        <% else %>
          <div class="text-center movie-poster"><span class="no-image text-muted">No image</span></div>
        <% end %>
        <div class="card-body p-3">
          <h6 class="card-title"><%= result['title'] %><small class="text-muted"> (<%= year_from_date(result['release_date']) %>)</small></h6>
        </div>
        <div class="d-flex justify-content-center m-2">
          <%# Check if result has been rated by user %>
          <% rating = @ratings.detect {|r| r.media_id == media_id} %>
          <% if rating.blank? %>
            <%= link_to 'Add to list', media_ratings_path(media_id: media_id), method: :post, class: 'btn btn-block btn-sm btn-primary' %>
          <% end %>
        </div>
        <%# Render footer with score %>
        <div class="card-footer text-center p-2">
          <%# score = media_score(media_id) %>
          <%# if score.present? %>
<!--            <strong><%#= score %></strong><small class="text-muted"> / 10</small>-->
          <%# else %>
<!--            <small class="text-muted">No score yet</small>-->
          <%# end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>